.knob-svg {
  font-size: 16px;
  width:100%;
  display: flex;
  justify-content: space-around;
  touch-action: none;
  user-select: none;
}

@media (min-width: 992px) {
  .svg-item {
      width: 80%;
  }
}

.knob-text {
  font-family: Arial, Helvetica, sans-serif;
}

.knob-integervalue {
  font-size: 0.6em;
  line-height: 1;
  transform: translateY(0.5em);
  font-weight: normal;
}

.knob-decimalvalue {
  font-size: 0.3em;
  line-height: 1;
  transform: translateY(0.5em);
  font-weight: normal;
}

.knob-label {
  font-size: 0.25em;
  line-height: 1;
  transform: translateY(0.5em);
  text-align: center;
  text-anchor: middle;
}

.knob-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
